@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
}

body {
  font-family: Inter, system-ui, sans-serif;
  background-color: #ffffff;
  color: #0f172a;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Utility for full-bleed sections similar to WP container offsets */
.full-bleed {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* Banner slider helpers */
.banner-slide {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .banner-slide { height: 50vh; }
}


