/**
 * Abstracts
 * 
 * @package Storefront_Child
 * @version 1.0.0
 */

// Importar todas as abstrações
@import 'variables/variables';
@import 'functions/functions';
@import 'mixins/mixins';
@import 'placeholders/placeholders';

