.infixs-correios-automatico-tracking-box {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
}

.infixs-correios-automatico-tracking-box
	#infixs-correios-automatico-tracking-code-input {
	width: 100%;
}

.infixs-correios-automatico-history-table {
	display: grid;
	grid-template-columns: auto min-content;
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
}
.infixs-correios-automatico-history-table > div {
	padding: 4px 6px;
}

.infixs-correios-automatico-history-table > div:nth-child(1),
.infixs-correios-automatico-history-table > div:nth-child(2) {
	font-weight: bold;
	border-bottom: 1px solid #e0e0e0;
}

.infixs-correios-automatico-history-table > div:nth-child(4n + 1),
.infixs-correios-automatico-history-table > div:nth-child(4n + 2) {
	background-color: #f5f5f5;
}

.infixs-correios-automatico-history-table
	.infixs-correios-automatico-action-column {
	display: flex;
	align-items: center;
	gap: 5px;
}

.infixs-correios-automatico-history-table
	.infixs-correios-automatico-action-column
	a {
	fill: #2271b1;
	color: #2271b1;
}

.infixs-correios-automatico-history-table
	.infixs-correios-automatico-action-column
	a:hover {
	fill: #2271b1ab;
	color: #2271b1ab;
}

.infixs-correios-automatico-history-table
	.infixs-correios-automatico-action-column
	a:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.infixs-correios-automatico-alert-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffffee;
	font-weight: 600;
	z-index: 10;
}

.infixs-correios-automatico-alert-wrapper {
	height: 100%;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.infixs-correios-automatico-alert-buttons {
	display: flex;
	gap: 10px;
	margin-top: 15px;
}

.infixs-correios-automatico-prepost-invoice-box {
	display: none;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	margin-top: 10px;
	position: relative;
}

/** Order List Tracking Column */

.infixs-correios-automatico-tracking-column-wrapper .dashicons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.infixs-correios-automatico-tracking-column-wrapper {
	position: relative;
}

.infixs-correios-automatico-tracking-edit-form {
	position: absolute;
	cursor: default;
	width: 250px;
	right: 0;
	top: -10px;
	background: #ffffff;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 7px #33333340;
	display: flex;
	gap: 5px;
}

.infixs-correios-automatico-tracking-edit-loader > span {
	animation: infixsCorreiosAutomaticoSpin 2s linear infinite;
	display: flex;
	align-items: center;
	justify-content: center;
}

td.infixs-correios-automatico-actions-column.column-infixs-correios-automatico-actions-column
	a.button.wc-action-button {
	padding: 0 7px;
}

.order-status.status-preparing-to-ship {
	background-color: #dfdfa3;
	color: #000;
}

.order-status.status-in-transit {
	background-color: #c3c3f9;
	color: #333;
}

td.infixs-correios-automatico-actions-column.column-infixs-correios-automatico-actions-column {
	cursor: default !important;
}

.infixs-correios-automatico-spin-animation {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
}

.infixs-correios-automatico-spin-animation > svg {
	animation: infixsCorreiosAutomaticoSpin 2s linear infinite;
}

.post-type-shop_order
	.wp-list-table
	td.column-infixs-correios-automatico-actions-column,
.post-type-shop_order
	.wp-list-table
	th.column-infixs-correios-automatico-actions-column,
.woocommerce_page_wc-orders
	.wp-list-table
	td.column-infixs-correios-automatico-actions-column,
.woocommerce_page_wc-orders
	.wp-list-table
	th.column-infixs-correios-automatico-actions-column {
	text-align: right;
}

/** Edit Order Shipping Edit Form */

.infixs-edit-shipping-options-meta-container {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.infixs-edit-shipping-options-meta-container-item {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

@keyframes infixsCorreiosAutomaticoSpin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
