// In this file you can override the default variables of Bootstrap
// Headshop palette is loaded from _colors.scss

$primary:   $color-primary;
$secondary: $color-secondary;
$success:   $dark-cyan;
$danger:    $color-danger;
$light:     $color-light;
$dark:      $color-dark;

$body-color:      $text-body;
$link-color:      $link-color;
$link-hover-color: $link-hover-color;
