/*
Theme Name: Storefront Child
Theme URI: https://woocommerce.com/storefront/
Description: Minimal child theme for Storefront
Author: Indicativa Headshop
Template: storefront
Version: 1.0.0
*/

/* Add custom styles below */
