.mt-15{
    margin-top: 15px;
}
.en-dbsc-popup_body .form-field label{
    cursor: auto;
    font-weight: 500;
}

/**
* Css for Shipping Origin Popup
 */
#en-delete-confirm-popup:target,
.en-add-shipping-profile-popup:target,
#en-add-shipping-origin-popup:target,
#en-add-shipping-zone-popup:target,
#en-add-rate-popup:target
{
    visibility: visible;
    opacity: 1;
}
#en-delete-confirm-popup,
.en-add-shipping-profile-popup,
#en-add-shipping-origin-popup,
#en-add-shipping-zone-popup,
#en-add-rate-popup
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 1;
    opacity: 1;
    z-index: 999999;
}

.en-dbsc-popup_container{
    margin: 50px auto;
    background: #fff;
    border-radius: 5px;
    width: 45%;
    position: relative;
    transition: all 5s ease-in-out;
}
.en-dbsc-popup_header .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.en-dbsc-popup_header {
    padding: 5px 20px 0;
    border-bottom: 2px solid lightgrey;
}
.en-dbsc-popup_header h2 {
    font-size: 20px;
    margin: 17px 0 17px 9px;
}
.en-dbsc-popup_body {
    padding: 0 0 30px 25px;
    overflow-y: scroll;
    height: 400px;
}

.en-dbsc-popup_footer {
    text-align: right;
    border-top: 2px solid lightgray;
    padding: 15px 0;
}
.en-dbsc-popup_body .form-field select {
    border-style: solid;
    border-width: 1px;
    width: 95%;
}
.en-dbsc-popup_body .form-field label {
    display: block;
    padding-bottom: 5px;
}
.en-dbsc-popup_body .form-field {
    padding: 15px 0 0;
}
.en-dbsc-cancel-button,
.en-dbsc-Done-button
{
    padding: 2px 10px;
}
.en-dbsc-popup_footer > a.button-primary.en-dbsc-Done-button {
    margin-right: 43px;
    padding: 1px 15px;
}
.en-dbsc-popup_footer a.button-primary.en-dbsc-cancel-button {
    margin-right: 5px;
    padding: 1px 15px;
}
.en-dbsc-popup_body .form-field label.error{
    color: red;
    font-weight: normal;
}

/**
* Css for Add rate Popup
 */
#en-add-rate-popup:target {
    visibility: visible;
    opacity: 1;
}
.en-dbsc-inline-div{
    width: 97%;
    display: inline-block;
}
.en-dbsc-inline-div .en-dbsc-first-section-div {
    width: 48%;
    display: inline-block;
}
.en-dbsc-inline-div .en-dbsc-second-section-div {
    width: 52%;
    display: inline-block;
    float: right;
}
.form-field.en-dbsc-add-rate-radio {
    text-align: center;
    padding: 30px 0 0;
    width: 92%;
}
.en-dbsc-inline-div .en-dbsc-first-section-div .form-field .error,
.en-dbsc-inline-div .en-dbsc-second-section-div .form-field .error
{
    padding-right: 1px;
}

/**
* Css for Profile Popup
 */
[class^="en-add-shipping-profile-popup-"] .en-dbsc-popup_footer > a.button-primary.en-dbsc-Done-button ,
.en-add-shipping-profile-popup .en-dbsc-popup_footer > a.button-primary.en-dbsc-Done-button {
    margin-right: 27px;
}
[class^="en-add-shipping-profile-popup-"] .en-dbsc-popup_body,
.en-add-shipping-profile-popup .en-dbsc-popup_body {
    padding: 0 0 30px 28px;
    overflow-y: auto;
    height: auto;
}
.en_dbsc_shipping_profile_shipping_class
{
    padding-left: 34px !important;
}
.en-dbsc-add-new-shipping-class
{
    text-decoration: none;
}
.en-dbsc-add-shipping-class{
    display: none;
}
[class^="en-add-shipping-profile-popup-"] span.select2.select2-container,
.en-add-shipping-profile-popup span.select2.select2-container {
    width: 95% !important;
}
label#en_shipping_classes-error {
    display: none !important;
}

/**
* Css for Shipping Zone Popup
 */
#en-add-shipping-zone-popup .en-dbsc-popup_body {
    padding: 15px;
    overflow-y: auto;
    height: auto;
}
input.en_by_postal_code {
    margin-left: 25px;
}
.en-define-by-zone .profile-define-by {
    margin-top: 9px;
}
#en_shipping_zone_search{
    padding-left: 30px;
}
.en-dbsc-popup_body .tagging {
    border: 1px solid #7e8993 !important;
    font-size: 1em;
    height: auto;
    padding: 6px;
    background: #fff;
    width: 93%;
    border-radius: 5px;
    float: left;
    margin-left: 0;
}

.en-dbsc-popup_body .tagging.editable {
    cursor: text;
}

.en-dbsc-popup_body .tag {
    background-color: #e4e4e4;
    color: #444;
    cursor: default;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 2px 5px 2px 20px;
    margin: 1px 10px 1px 0;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.en-dbsc-popup_body .tag span {
    display: none;
}

.en-dbsc-popup_body .tag .tag-i {
    color: #444;
    cursor: pointer;
    font-size: 1.1em;
    height: 0;
    line-height: 0.1em;
    position: absolute;
    top: 0.7em;
    text-align: center;
    width: 10px;
    text-decoration: none;
    left: 6px;
}

.en-dbsc-popup_body .tag .tag-i:hover {
    color: black;
    text-decoration: none;
}

.en-dbsc-popup_body .type-zone {
    border: 0 none;
    height: auto;
    width: auto;
    min-width: 20px;
    display: inline-block;
}

.en-dbsc-popup_body .type-zone:focus {
    outline: none;
    background-color: #fff;
    color: #32373c;
}
#en-add-shipping-zone-popup .en-dbsc-popup_container{
    margin: 80px auto;
}
#en-dbsc-shipping-zone-form span.select2.select2-container {
    margin-top: 15px;
    width: 95% !important;
    display: block;
}
#en-dbsc-shipping-zone-form .select2-container .select2-search__field{
    min-width: 210px;
}
.button-primary.en-add-shipping-zone {
    margin-right: 28px;
    padding: 1px 15px;
}

/**
* Css for delete popup
 */
#en-delete-confirm-popup .en-dbsc-popup_body {
    height: auto;
    overflow-y: auto;
    padding: 0 30px;
}
#en-delete-confirm-popup .en-dbsc-popup_body h3 {
    font-weight: normal;
    font-size: 15px;
}
#en-delete-confirm-popup a.button-primary.en-delete-record {
    margin-right: 36px;
    padding: 1px 15px;
}
#en-delete-confirm-popup .en-dbsc-popup_container {
    margin: 190px auto;
}

.sm_notification_disable_to_plan_overlay_dbsc {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 2ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    transition: all 0.2s ease-in-out
}
.sm_notification_disable_to_plan_overlay_dbsc:target {
    visibility: visible;
    opacity: 1;
}

.en_dbsc_notifi_disabl_to_plan_box {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
}

.en_dbsc_notifi_disabl_to_plan_box h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.en_dbsc_notifi_disabl_to_plan_box .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.en_dbsc_notifi_disabl_to_plan_box .close:hover {
    color: #ea6153;
}
.en_dbsc_notifi_disabl_to_plan_box .content {
    max-height: 30%;
    overflow: auto;
}
.en_dbsc_notifi_disabl_to_plan_box .content label {
    cursor: default;
}

.en_dbsc_notifi_disabl_to_plan_box .content label{
    font-weight: 900;
}
.en_dbsc_notifi_disabl_to_plan_box .content .sm_add_warehouse_input{
    width: 80%;
    text-align: right;
}
.en_dbsc_notifi_disabl_to_plan_box .content .sm_add_warehouse_input input{
    border-radius: 5px;
    margin: 10px;
    width: 70%;
}

.confirmation_btns{
    margin-right: 40px;
    text-align: right;
    margin-top: 20px;
}

.cancel_plan{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
}
.cancel_plan:hove{
    text-decoration: none;
}
.confirm_plan{
    background: #008ec2;
    border-color: #006799;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}
.confirm_plan:hover{
    text-decoration: none;
    color: #fff;
}

input.en_dbsc_profile_define_by_product_tags{
    margin-left: 25px;
}
