
/**
 * Cores do Tema - Storefront Child
 * 
 * @package Storefront_Child
 * @version 1.0.0
 */

// ==========================================================================
// CORES PRINCIPAIS DO TEMA
// ==========================================================================

// CSS Custom Properties (Variáveis CSS)
:root {
    --forest-green: #048d40;
    --black-olive: #252c24;
    --jasmine: #ffdf76;
    --moss-green: #8b9f7c;
    --tomato: #ff554c;
}

// SCSS Variables (Variáveis SCSS)
$forest-green: #048d40;
$black-olive: #252c24;
$jasmine: #ffdf76;
$moss-green: #8b9f7c;
$tomato: #ff554c;

// ==========================================================================
// MAPEAMENTO DE CORES SEMÂNTICAS
// ==========================================================================

// Cores primárias (usando as cores do tema)
$primary-color: $forest-green;
$primary-dark: darken($forest-green, 15%);
$primary-light: lighten($forest-green, 15%);

// Cores secundárias
$secondary-color: $black-olive;
$secondary-dark: darken($black-olive, 10%);
$secondary-light: lighten($black-olive, 20%);

// Cores de estado
$success-color: $forest-green;
$warning-color: $jasmine;
$danger-color: $tomato;
$info-color: $moss-green;

// Cores neutras (usando variações das cores do tema)
$white: #ffffff;
$black: $black-olive;
$gray-100: lighten($moss-green, 35%);
$gray-200: lighten($moss-green, 30%);
$gray-300: lighten($moss-green, 25%);
$gray-400: lighten($moss-green, 20%);
$gray-500: $moss-green;
$gray-600: darken($moss-green, 10%);
$gray-700: darken($moss-green, 20%);
$gray-800: darken($moss-green, 30%);
$gray-900: $black-olive;

// Cores do tema
$body-bg: $white;
$text-color: $gray-800;
$text-muted: $gray-600;
$border-color: $gray-300;
$border-light: $gray-200;

// ==========================================================================
// GRADIENTES
// ==========================================================================

$gradient-top: linear-gradient(0deg, $forest-green, $black-olive, $jasmine, $moss-green, $tomato);
$gradient-right: linear-gradient(90deg, $forest-green, $black-olive, $jasmine, $moss-green, $tomato);
$gradient-bottom: linear-gradient(180deg, $forest-green, $black-olive, $jasmine, $moss-green, $tomato);
$gradient-left: linear-gradient(270deg, $forest-green, $black-olive, $jasmine, $moss-green, $tomato);
$gradient-top-right: linear-gradient(45deg, $forest-green, $black-olive, $jasmine, $moss-green, $tomato);
$gradient-bottom-right: linear-gradient(135deg, $forest-green, $black-olive, $jasmine, $moss-green, $tomato);
$gradient-top-left: linear-gradient(225deg, $forest-green, $black-olive, $jasmine, $moss-green, $tomato);
$gradient-bottom-left: linear-gradient(315deg, $forest-green, $black-olive, $jasmine, $moss-green, $tomato);
$gradient-radial: radial-gradient($forest-green, $black-olive, $jasmine, $moss-green, $tomato);