/** Order */
.infixs-caref-order-tracking-box {
	margin-bottom: 40px;
	position: relative;
}

.infixs-caref-order-tracking-tabs {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.infixs-caref-order-tracking-tab {
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
}

.infixs-caref-order-tracking-tab.active {
	background-color: #f1f1f1;
	color: #2271b1;
}

.infixs-caref-order-tracking-tab:hover:not(.active) {
	background-color: #f5f5f5;
}

.infixs-caref-order-tracking-info {
	font-size: 14px;
}

.infixs-caref-order-tracking-info strong {
	font-weight: 500;
}

.infixs-caref-order-tracking-show-more-button-wrap {
	margin-top: 5px;
	position: relative;
	z-index: 4;
}

.infixs-caref-order-tracking-event-list {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
}

.infixs-caref-order-tracking-event-list-wrapper {
	position: relative;
}

.infixs-caref-order-tracking-icon {
	background-color: #f1f1f1;
	border-radius: 8px;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.infixs-caref-order-tracking-icon::after {
	content: "";
	position: absolute;
	background-color: #f1f1f1;
	width: 8px;
	top: 0;
	bottom: -20px;
	z-index: 1;
}

.infixs-caref-order-tracking-row:last-child
	.infixs-caref-order-tracking-icon::after {
	display: none;
}

.infixs-caref-order-tracking-icon > svg {
	width: 38px;
	height: 38px;
	position: relative;
	z-index: 2;
}

.infixs-caref-order-tracking-row {
	position: relative;
	display: flex;
	gap: 15px;
}

.infixs-caref-order-tracking-row .infixs-caref-order-tracking-event-title {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
	line-height: 1.2;
	margin-top: 0;
	padding-bottom: 0;
}

.infixs-caref-order-tracking-row .infixs-caref-order-tracking-event-address {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.infixs-caref-order-tracking-row p {
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.infixs-caref-order-tracking-row .infixs-caref-date {
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.infixs-correios-automatico-tracking-search-form
	.infixs-correios-automatico-tracking-search-form-input {
	display: flex;
	margin-bottom: 15px;
}

.infixs-correios-automatico-tracking-search-form
	.infixs-correios-automatico-tracking-search-form-input
	input {
	width: 100%;
	max-width: 400px;
}
