/*
Theme Name:  Headshop
Theme URI: https://woocommerce.com/storefront/
Description: Minimal child theme for Storefront
Author: Pato Marques (patoxmarques@gmail.com)
Template: storefront
Version: 1.0.0
*/

