#mainform {
    background-color: #fff;
    border-radius: 5px;
    max-width: calc(100% - 50px);
}
.form-table {
    padding: 10px 15px 20px;
    display: block;
}
.form-table th {
    width: 250px;
    font-size: 15px;
}
.form-table th.section {
    font-size: 20px;
    padding-bottom: 0;
}
.checkout ul.features {
    list-style: circle;
    margin-left: 18px;
}
input[type=text],
input[type=email],
input[type=number],
select {
    width: 400px;
}
input[type="checkbox"] + p.description {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
}
.integration .description .warning {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
#woocommerce_virt_correios_devolutions + p.description,
#woocommerce_virt_correios_disable_feedback + p.description {
    max-width: calc(100% - 30px);
}
.form-table.checkout tbody tr:first-child td {
    max-width: calc(100% - 260px);
    display: inline-table;
}
#woocommerce_virt_correios_mask + p.description {
    max-width: calc(100% - 24px);
}
.premium-disabled {
    word-break: break-word;
    background-color: #fff;
    border-radius: 5px;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.premium-disabled h3 {
    font-size: 15px;
}
.premium-disabled li {
    font-size: 16px;
    line-height: 28px;
    margin-top: 30px
}
.premium-disabled .description {
    margin-bottom: 30px;
    font-size: 14px;
    color: #444;
}
.premium-prints {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.premium.hidden p.description {
    max-width: 840px;
}
#woocommerce_virt_correios_serial {
    width: 100%;
    max-width: 450px;
}
.print {
    max-width: 30%;
}
.print img {
    max-width: 100%;
    max-height: 100%;
}
.print h3.description {
    line-height: 22px;
    text-align: center;
}
.print > a {
    text-decoration: none;
}
h2 {
    font-size: 24px;
    color: #555;
}
h2, h3 {
    font-weight: bold;
}
.hidden {
    display: none;
}
.navigation-tab .tablinks {
    background-color: #fff;
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
    position: relative;
    min-width: 130px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    text-align: center;
}
.navigation-tab .tablinks:not(:last-child) {
    border-right: 1px solid #ccc;
}
.navigation-tab .tablinks:hover {
    background-color: #ddd;
}
.navigation-tab .tablinks.active {
    background-color: #ccc;
    border-bottom-color: transparent;
}
#mainform .button-primary {
    margin-left: 15px;
    margin-bottom: 15px;
}
#woocommerce_virt_correios_username:disabled,
#woocommerce_virt_correios_password:disabled,
#woocommerce_virt_correios_post_card:disabled,
#woocommerce_virt_correios_enviroment:disabled {
    background-color: rgb(221 221 221 / 50%);
    border-color: rgb(255 255 255 / 75%);
}
/* VIDEOS */
.dashicons-archive {
    font-size: 23px;
    vertical-align: text-top;
    margin-right: 4px;
    color: #3a6ca1;
}
.videoicon {
    margin-left: 4px;
    color: #bd3c3c;
    text-decoration: none;
    vertical-align: middle;
}
.entrega tbody tr:last-of-type .videoicon {
    font-size: 25px;
    height: 31px;
    width: 25px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; 
    border-radius: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/** TAB ENTREGA **/
.form-table.entrega td { 
    padding-top:0; padding-bottom:0;
} 
.form-table.entrega a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3a6ca1;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.form-table.entrega a:hover {
    background-color: #0056b3;
}
.form-table.entrega h4 a::before {
    content: "\f103";
    font-family: 'dashicons';
    vertical-align: text-bottom;
    margin-right: 5px;
}
.form-table.entrega .classic-video {
    background-color: #757575;
    padding: 3px 6px;
    font-size: 12px;
    margin-top: 4px;
}
.form-table.entrega .classic-video:hover {
    filter: brightness(1.3);
}
.entrega tbody tr:last-of-type .separator {
    margin: 65px 0;
    display: block;
}
.form-table.entrega tr:last-of-type td {
    display: block;
}
#wpbody-content .error {
    padding: 10px 15px;
    border-left-width: 6px;
    margin-left: 0;
    margin-right: 0;
    max-width: calc(100% - 90px);
}
#wpbody-content .error > p {
    font-size: 12px;
    font-weight: bold;
    color: #b13737;
}
#wpbody-content .error > p > strong {
    color: green;
}
iframe {
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}
.entrega .dashicons.dashicons-menu-alt3 {
    vertical-align: baseline;
    width: 15px;
    height: 15px;
    font-size: 16px;
    color: #0056b3;
}
.entrega .faq {
    margin-left: 30px;
    list-style: circle;
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px;
}
.entrega .frequently-questions > li {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 16px;
}
#woocommerce_virt_correios_hide_devolution_button {
    max-width: 100px;
}
.hide-devolution-if-off {
    display: none;
}
.devolutions-ative + .hide-devolution-if-off {
    display: table-row;
}
#mainform #import-contract-woocommerce-correios {
    margin-left: 0;
    margin-bottom: 5px;
}
#mainform .import-preferences {
    display: block !important;
    margin-left: 0;
    margin-top: 5px;
}
.form-table .titledesc:not(.section) {
    padding-left: 30px;
}
.premium tbody .serial-code .titledesc,
.form-table tbody tr:first-of-type .titledesc {
    padding-left: 0;
    font-size: 20px;
}
.form-table.ticket tbody tr:first-of-type .titledesc {
    overflow: visible;
    white-space: nowrap;
    max-width: 250px;
}
.form-table.backup tbody tr:first-of-type .titledesc {
    font-size: inherit;
    padding-left: 0px;
}
.form-table.backup .titledesc:not(.section) {
    padding-left: 0;
}
.form-table td, .form-table th {
    padding: 11px 10px;
}

/* Estilo principal para a tela de configuração */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

#mainform {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 35px 0;
    max-width: 1200px;
}

/* Cabeçalhos */
h1, h2, h3 {
    color: #333333;
    font-weight: bold;
}
h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
h2 {
    font-size: 22px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

/* Navegação por abas */
.navigation-tab {
    display: flex;
    border-bottom: 1px solid #e2e8f0;
    margin-bottom: 20px;
}
.navigation-tab .tablinks {
    flex: 1;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-bottom: none;
    color: #555555;
    font-size: 16px;
    transition: background-color 0.3s;
    min-width: 90px;
}
.navigation-tab .tablinks.active {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
}
.navigation-tab .tablinks:hover {
    background-color: #e2e8f0;
}
#woocommerce_virt_correios_activate_checkout {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin: 0;
    margin-right: 8px;
}

#woocommerce_virt_correios_activate_checkout:checked:before {
    width: 30px;
}

#woocommerce_virt_correios_compatibility_trakking_code + .description,
#woocommerce_virt_correios_activate_checkout + .description {
    max-width: calc(100% - 39px);
    vertical-align: middle;
}
.shortcode {
    border: 1px solid #ddd;
    padding: 0 15px;
    cursor: pointer;
    min-height: 60px;
    display: inline-block;
}

.copy-shortcode {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.shortcode legend {
    line-height: 24px;
}

/* Tabela de configurações */
.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.form-table th {
    text-align: left;
    padding: 10px 0;
    color: #555555;
    font-size: 14px;
}

.form-table th.section {
    font-size: 20px;
    padding-bottom: 0;
    margin: 10px 0 20px 0;
    display: inline-block;
}

.form-table .titledesc:not(.section) {
    padding-top: 15px;
}

.form-table tr {
  margin-bottom: 5px;
  display: block;
}
.form-table.integration tbody {
    display: block;
}

#woocommerce_virt_correios_debug + .description {
    width: initial;
}

.premium .description + .description {
    margin-top: 20px;
}

.premium .description + .description span {
    font-size: 18px;
}

.form-table.ticket th.section {
    padding-top: 25px;
}

.form-table.ticket th.section {
    padding-bottom: 15px;
}

.form-table.ticket tbody tr:first-of-type .titledesc {
    margin-bottom: 0;
    margin-top: 0;
}

.form-table td {
    padding: 10px;
    font-size: 14px;
    color: #333333;
}

.navigation-tab .tablinks:hover {
    background-color: #0070ff;
    color: #FFF;
}

.integration .enviroment {
    display: none;
}

/* Inputs e botões */
input[type="number"],
input[type="text"],
input[type="email"],
select {
    width: 300px;
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 4px;
}

#woocommerce_virt_correios_hide_devolution_button {
    width: 45px;
    padding: 2px 0 0px 10px;
}

input[type="number"] + p.description {
    display: inline-block;
    width: calc(100% - 60px);
    vertical-align: top;
    margin-top: 0;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Descrições e ajuda */
.description {
    color: #6c757d;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.wp-core-ui select {
  min-height: 38px;
}
.ticket input[type="number"] {
    width: 100%;
    max-width: 300px;
    margin-bottom: 5px;
}
.form-table .separator {
    border: 1px solid #eee;
    margin: 20px 0 10px;
}
/* Feedback visual */
input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.premium .ticket-desc,
.ticket .ticket-desc {
    text-align: center;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.premium .ticket-desc {
    text-align: left;
}
fieldset.error #woocommerce_virt_correios_origin {
    border-color: red;
}
#wpbody-content .ticket fieldset.error {
    padding: 0;
    max-width: initial;
}
fieldset.error:before {
    content: "O CEP deve conter 8 números";
    display: block;
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
}
#wpbody-content .ticket fieldset.error .description {
    color: #6c757d;
    font-weight: normal;
    font-size: inherit;
}
.form-table.entrega .international-export a {
    padding: 0;
    background-color: transparent;
    color: green;
    font-weight: bold;
}

.entrega .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.entrega .text-content {
    max-width: 50%;
}
.entrega .text-content h1 {
    font-size: 24px;
    color: #333;
}
.entrega .text-content p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}
.entrega .cta-button {
    display: inline-block;
    background-color: #0073e6;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.entrega .cta-button:hover {
    background-color: #005bb5;
}
.entrega .image-container {
    max-width: 45%;
}
.entrega .image-container img {
    width: 100%;
    border-radius: 8px;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .premium-disabled {
        max-width: 610px;
    }
}
@media only screen and (max-width: 1023px) {
    .premium-disabled {
        max-width: 90%;
        display: table !important;
        margin: 0 auto;
        padding: 20px;
        border-collapse: separate;
    }
}
@media (max-width: 768px) {
    #mainform {
        padding: 15px;
        margin: 10px auto;
    }
    .navigation-tab .tablinks {
        font-size: 14px;
    }
    input[type="text"], input[type="email"], input[type="number"], select {
        width: 100%;
    }
    button {
        width: 100%;
    }
    .form-table .titledesc:not(.section) {
        padding-left: 10px;
    }
}