/* Estilo geral */
body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #f7f8fa;
    color: #333;
}
#wpbody-content {
    background-color: #f7f8fa;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
}

/* Botões */
button, .button-primary {
    background-color: #2872fa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: bold;
}

button:hover, .button-primary:hover {
    background-color: #1559ed;
}

button:disabled, .button-primary:disabled {
    pointer-events: none;
    opacity: 0.5;
}

h3.wc-settings-sub-title {
    font-size: 18px;
    color: #1559ed;
}

/* Tabelas */
.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.form-table th {
    text-align: left;
    font-size: 16px;
    color: #555;
    width: 250px;
    padding: 10px;
    vertical-align: top;
}

.form-table td {
    padding: 10px;
}

/* Campos de formulário */
input[type="text"],
input[type="number"],
select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
    margin-right: 10px;
}

.internacional-warn {
    display: block;
    margin-top: 10px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .form-table th {
        width: 100%;
        font-size: 14px;
        text-align: left;
    }

    .form-table td {
        display: block;
        width: 100%;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
    }
}
