#virt-correios-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
#virt-correios-modal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}
#virt-correios-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#virt-correios-modal .close:hover,
#virt-correios-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#virt-correios-modal h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 23px;
    text-align: center;
}
#virt-correios-modal form {
    display: flex;
    flex-direction: column;
}
#virt-correios-modal label {
    margin: 10px 0 5px;
    text-align: left;
}
#virt-correios-modal #email,
#virt-correios-modal select,
#virt-correios-modal textarea,
#virt-correios-modal button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    min-width: initial;
    line-height: initial;
}
#virt-correios-modal button {
    background-color: #b65a2d;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    padding: 11px;
}
#virt-correios-modal button:hover {
    filter: brightness(1.3);
}
.zap-action .dashicons {
    margin-right: 5px;
    vertical-align: sub;
}
.diagnostic,
.zap-action {
    margin-bottom: 10px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: filter .3s;
    border-radius: 6px;
    font-size: 16px;
    margin-right: 10px;
}
.diagnostic:hover,
.diagnostic:active,
.zap-action:hover,
.zap-action:active {
    color: #fff;
    filter: brightness(1.5);
}
.diagnostic {
    margin-left: 10px;
    display: inline-block;
    background-color: #5454b6;
}
.diagnostic .dashicons {
    margin-right: 5px;
}
.wordpress-action {
    background-color: #2271b1;
    display: inline-block;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    vertical-align: top;
    text-decoration: none;
    margin-right: 10px;
}
.dashicons-wordpress {
    margin-right: 5px;
}
.wordpress-action:hover {
    color: #fff;
    filter: brightness(1.3);
}