#woo_better_calc_shortcodes-description,
#woo_better_calc_functions-description {
    max-width: 700px;
}

#wpbody-content {
    background-color: #f0f0f1 !important;
}

.lkn-settings-tabs {
    display: flex;
    flex-wrap: wrap;
    min-height: 34px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.lkn-settings-tabs .nav-tab.nav-tab-active {
    background-color: #fff;
    color: #3C434A;
}

.lkn-settings-tabs .nav-tab {
    border: none;
    color: #9e9e9e;
    background-color: transparent;
    height: 34px;
    box-sizing: border-box;
    padding: 5px 20px;
}

.lkn-woo-spacer-row {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.woo-better-floating-icon-container {
    position: fixed;
    bottom: 40px;
    right: 60px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 1000;
    background-color: #afb0f185;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-feature-message {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #4caf50;
    border-left-width: 5px;
    border-left-color: #4caf50;
    border-radius: 5px;
    background-color: #e8f5e9;
    color: #388e3c;
    font-size: 14px;
    line-height: 1.5;
    max-width: 370px;
}

.woo-better-floating-icon {
    width: 55px;
    height: 55px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1250px) {

    .lkn-settings-side {
        width: 100% !important;
        padding: 32px 0px !important;
    }

    .lkn-settings-content {
        min-width: 0px !important;
    }

    .lkn-settings-tabs {
        margin-bottom: 10px !important;
    }

    .titledesc {
        padding-top: 40px !important;
    }
}