/* Currency style */
.woo-better-container-current-style {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.woo-better-input-button-group-current-style {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.woo-better-input-wrapper-current-style {
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 50px !important;
}

.woo-better-input-current-style {
    width: 220px !important;
    height: 50px !important;
    padding: 0 8px !important;
    font-size: 16px !important;
    font-family: poppins, sans-serif;
    font-family: poppins, sans-serif;
    box-sizing: border-box !important;
    vertical-align: top !important;
}

.woo-better-icon-current-style {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.woo-better-button-current-style {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100px !important;
    height: 50px !important;
    font-size: 12px !important;
    font-family: poppins, sans-serif;
    cursor: pointer;
}

.woo-better-link-current-style {
    background: none !important;
    border: none !important;
    color: #0073aa !important;
    text-decoration: underline !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-family: 'Poppins', sans-serif !important;
    padding: 0 !important;
}

.woo-better-link-current-style:hover {
    color: #005f8d !important;
    text-decoration: none !important;
}

/* Bloco de Info */

.woo-better-current-postcode-text {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.woo-better-change-postcode-button {
    background: none !important;
    border: none !important;
    color: #0073aa !important;
    text-decoration: underline !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-family: 'Poppins', sans-serif !important;
    padding: 0 !important;
}

.woo-better-change-postcode-button:hover {
    color: #005f8d !important;
    text-decoration: none !important;
}

.woo-better-color-field {
    height: 50px !important;
    width: 50px !important;
    cursor: pointer;
}

.woo-better-parent-container {
    max-width: 360px;
}

.woo-better-toggle-postcode-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.woo-better-toggle-button {
    display: flex;
    background: none !important;
    border: none !important;
    cursor: pointer !important;
    height: 25px !important;
    width: 25px !important;
    padding: 0 !important;
}

.woo-better-product-name,
.woo-better-product-quantity,
.woo-better-cart-name,
.woo-better-cart-quantity {
    margin: 5px 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.woo-better-shipping-methods {
    margin-top: 20px;
}

.woo-better-shipping-methods p {
    margin-bottom: 10px;
}

.woo-better-shipping-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.woo-better-shipping-list li {
    margin: 5px 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.woo-better-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.woo-better-add-postcode-link {
    background: none !important;
    border: none !important;
    color: #0073aa !important;
    text-decoration: underline !important;
    cursor: pointer;
    font-size: 14px !important;
    font-family: 'Poppins', sans-serif !important;
    padding: 0 !important;
}

.woo-better-add-postcode-link:hover {
    color: #005f8d !important;
    background-color: none !important;
    text-decoration: none !important;
}

.black-icon {
    filter: brightness(0) saturate(100%) invert(0) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.gray-icon {
    filter: brightness(0) saturate(100%) invert(90%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(95%) contrast(90%);
}

.red-icon {
    filter: brightness(0) saturate(100%) invert(14%) sepia(100%) saturate(7458%) hue-rotate(1deg) brightness(96%) contrast(105%);
}

.pink-icon {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(3000%) hue-rotate(300deg) brightness(95%) contrast(105%);
}

.green-icon {
    filter: brightness(0) saturate(100%) invert(39%) sepia(100%) saturate(2000%) hue-rotate(90deg) brightness(90%) contrast(100%);
}

.blue-icon {
    filter: brightness(0) saturate(100%) invert(30%) sepia(100%) saturate(2000%) hue-rotate(200deg) brightness(90%) contrast(100%);
}

/* Animação de rotação */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Classe para o ícone de carregamento */
.loading-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-top: 2px solid #666;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

#shipping-rates-results strong {
    font-weight: bold;
}

#shipping-rates-results li {
    font-size: 16px;
}

@media (max-width: 540px) {
    .woo-better-input-wrapper-current-style {
        max-width: 100% !important;
    }

    .woo-better-input-current-style {
        width: 100% !important;
    }

    .woo-better-button-current-style {
        width: 100% !important;
    }

    .woo-better-parent-container {
        width: 100%;
        max-width: 100%;
    }
}