$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

$header-bg: #ffffff;
$header-text: #222222;
$footer-bg: #111111;
$footer-text: #dddddd;
$sandy-brown: #fcaa67ff;
$dusty-mauve: #b0413eff;
$cream: #ffffc7ff;
$dark-cyan: #548687ff;
$deep-mocha: #473335ff;

$color-green: $success;
$color-red: $danger;
$color-yellow: $warning;
$color-black: $dark;
$color-white: $light;