/**
  User Guide Tab
*/
.en_user_guide {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.en_user_guide p {
    font-size: 14px;
}

.en_user_guide .submit {
    display: none;
}

/**
  Test Connection Tab
*/
#EN_DISTANCE_BASE_SHIPPING_connection_settings .submit {
    width: 69.7% !important;
    float: right;
}

div#EN_DISTANCE_BASE_SHIPPING_connection_settings button.button-primary.woocommerce-Done-button,
button#en_distance_base_shipping_test_connection {
    padding: 2px 10px;
}

.en_distance_base_shipping_test_connection {
    margin-right: 5px !important;
}

.en_connection_error {
    color: #ff0000;
    font-size: 13px;
    font-weight: normal !important;
    padding-left: 10px;
}

label[for="en_connection_settings_username_distance_base_shipping"]:after,
label[for="en_connection_settings_id_distance_base_shipping"]:after,
label[for="en_connection_settings_tokEN_DISTANCE_BASE_SHIPPING"]:after,
label[for="en_connection_settings_license_key_distance_base_shipping"]:after {
    content: " *";
    color: red;
}

.en_connection_message, .en_settings_message {
    font-size: 13px;
    padding-left: 10px;
}

.en_warning_message {
    margin: 5px 0 15px !important;
    background: #fff;
    border-left: 4px solid #ffb900;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 1px 12px;
}

.en_quote_settings_sub_options th {
    padding: 0 0 10px 15px;
    margin-left: 10px !important;
    font-weight: 400;
}

.en_quote_settings_sub_options td {
    padding: 0 0 10px 15px;
}

#wpfooter {
    display: none;
}

#en_add_dropship_btn + .submit {
    display: none;
}

a:focus {
    box-shadow: none !important;
}

#EN_DISTANCE_BASE_SHIPPING_quote_settings td select + span,
#EN_DISTANCE_BASE_SHIPPING_quote_settings td input[type='text'] + span {
    display: block;
}


/**
Order widget detail on admin order page
*/
.en-order-list {
    list-style: disc;
    list-style-position: inside;
}

.en-order-list .en-order-sender-origin {
    clear: both;
}

.en-order-heading {
    text-decoration: underline;
    margin: 4px 0px 4px 0px;
    clear: both;
}
/**
Rates on admin order page
*/
.en_admin_order_page_waiting_bar {
    width: 100%;
    height: 20px;
    border: 1px solid #2980b9;
    border-radius: 3px;
    background-image: repeating-linear-gradient(
            -45deg,
            #2980b9,
            #2980b9 11px,
            #eee 10px,
            #eee 20px
    );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

/**
Product detail page
*/
._en_hazardous_material + .description {
    font-style: normal;
    font-size: 12px;
}

/**
Plans
*/
.wild_disabled_me {
    float: left;
    pointer-events: none;
    opacity: 0.5;
}

.heading .en_heading_left {
    float: left;
}

.tr_disabled_me {
    pointer-events: none;
    opacity: 0.5;
}

.disabled_me {
    pointer-events: none;
    opacity: 0.5;
    display: inherit;
    color: #dc3232;
}

.en_package_notify a {
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0 0 6px;
    display: inline-block;
}

.en_pakage_notify_instore_warehouse a,
.en_package_notify a,
.en_pakage_notify_local_warehouse a {
    text-decoration: none;
    color: red;
}

.en_pakage_notify_instore_warehouse a {
    margin: 0 0 0 45px;
}

.en_pakage_notify_local_warehouse a {
    margin: 0 0 0 51px;
}

#EN_DISTANCE_BASE_SHIPPING_connection_settings input,
#EN_DISTANCE_BASE_SHIPPING_connection_settings select {
    border-color: lightgrey;
}

#EN_DISTANCE_BASE_SHIPPING_connection_settings {
    padding: 0px 20px 70px;
    border: 2px solid lightgrey;
    border-radius: 6px;
    margin: 20px auto;
}

tr.en_connection_settings_description_distance_base_shipping_tr th,
tr.en_connection_settings_current_subscription_distance_base_shipping_tr td span
tr.en_connection_settings_current_usage_distance_base_shipping_tr td span,
div#en_distance_base_shipping_quote_settings button.button-primary.woocommerce-Done-button {
    display: none;
}

tr.en_connection_settings_description_distance_base_shipping_tr td p.description,
tr.en_connection_settings_current_subscription_distance_base_shipping_tr td p.description,
tr.en_connection_settings_current_usage_distance_base_shipping_tr td p.description,
tr.en_connection_settings_multi_shipment_label_distance_base_shipping_tr td p.description {
    display: block;
    font-style: normal;
}

tr.en_connection_settings_license_key_distance_base_shipping_tr td,
tr.en_connection_settings_license_key_distance_base_shipping_tr th {
    padding-bottom: 0px;
}

tr.en_connection_settings_description_distance_base_shipping_tr td {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: revert !important;
}

tr.en_connection_settings_current_subscription_distance_base_shipping_tr td,
tr.en_connection_settings_current_usage_distance_base_shipping_tr td {
    padding-top: 0px;
}

#EN_DISTANCE_BASE_SHIPPING_connection_settings input[type="text"] {
    border-radius: 5px;
}

#EN_DISTANCE_BASE_SHIPPING_connection_settings input[type="checkbox"] {
    cursor: default;
    height: 22px;
    width: 22px;
    padding-left: 2px !important;
    padding-top: 3px !important;
}

#EN_DISTANCE_BASE_SHIPPING_connection_settings button.button-primary.woocommerce-Done-button {
    margin-left: 10px;
}

div#EN_DISTANCE_BASE_SHIPPING_quote_settings p.submit {
    display: none;
}

div#EN_DISTANCE_BASE_SHIPPING_quote_settings h2 {
    margin-top: 30px;
    margin-left: 40px;
}

#EN_DISTANCE_BASE_SHIPPING_connection_settings .forminp.forminp-text .description {
    font-size: 13px;
}

/**
Shipping rates
*/
.en_shipping_profile_content {
    padding: 30px 0 0 0;
}

.en_distance_base_shipping_quote_error .notice {
    margin: 25px 0 0;
}

.en_general_profile > a {
    color: #007cba;
}

.en_general_profile,
.en_shipping_from,
.en_shipping_to {
    padding: 15px;
    border: 2px solid lightgrey;
    border-radius: 6px;
    margin: 0 auto;
}

.en_general_profile h2 {
    margin-bottom: 10px;
    margin-left: 34px;
}

.en_shipping_profile_content h2,
.en_shipping_from h2 {
    display: inline-block;
    margin-bottom: 0;
}

.en-shipping-origin-list span a.en-menu-popup {
    float: right;
    text-decoration: none;
    outline: none;
    margin-right: 32px;
    font-size: 20px;
    color: #444;
}

.en_shipping_profile_content span a,
.en_shipping_from span a {
    float: right;
    text-decoration: none;
    outline: none;
}

.en_shipping_profile_content h2 {
    margin-top: 0;
}

.en_shipping_from h2 {
    margin-left: 18px;
    margin-bottom: 17px;
    line-height: normal;
}

.en_general_profile p {
    padding-left: 36px;
    margin-top: 0px;
}

.en_shipping_from p {
    margin: 0;
    padding: 0 0 17px 0;
}

p.en_shipping_to_address {
    padding: 0 0 0 19px;
}

.en_shipping_to h2 {
    margin-left: 0px;
}

.en_shipping_to {
    margin-bottom: 10px
}

.en_general_profile,
.en_shipping_from {
    padding: 15px;
    margin-top: 15px;
}

span.en-add-shipping-profile a {
    padding: 0;
    outline: none;
}

span.en-add-shipping-origin a {
    padding: 18px 31px 0 0;
    outline: none;
}

span.en-add-shipping-zone a {
    padding: 18px 20px 0 0;
    outline: none;
}

.en_shipping_to table {
    width: 100%;
    text-align: left;
    padding: 0px 18px 0 15px;
}

.en-align-center {
    text-align: center;
}

.en_shipping_to_table_container {
    padding: 0;
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
}

.en_shipping_to_table_container > a {
    margin: 15px 0 0 !important;
    outline: none;
}

.en_shipping_to table {
    border-collapse: collapse;
}

.en_shipping_to table thead th {
    font-weight: normal;
}

.en_shipping_to table > thead > tr > th {
    border-bottom: 2px solid lightgrey;
}

.en_shipping_to tbody tr td span {
    display: block;
    font-style: italic;
}

.en_shipping_to table > tbody > tr > td {
    padding-top: 15px;
}

.en-align-center.en-dbsc-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
}

.en-shipping-origin-list .en-menu-options {
    display: none;
    width: 84px;
    background-color: #FFFFFF;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0 0 12px;
    position: absolute;
    z-index: 1;
    bottom: 102%;
    left: 99.3%;
    margin-left: -80px;
    text-decoration: none;
    right: 0px;
}

.en_edit_profile .en_shipping_profile_content .en-menu-options,
.en_shipping_to_table_container .en-menu-options {
    display: none;
    width: 84px;
    background-color: #FFFFFF;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0 0 12px;
    position: absolute;
    z-index: 1;
    bottom: 80%;

    margin-left: -80px;
    text-decoration: none;
    right: 0px;
}

.en_edit_profile .en_shipping_profile_content .en-menu-options {
}

[class*="en-shipping-origin-list-"] .en-menu-options > ul > li > a,
.en-shipping-origin-list .en-menu-options > ul > li > a,
.en_edit_profile .en_shipping_profile_content .en-menu-options > ul > li > a,
.en_shipping_to_table_container .en-menu-options > ul > li > a {
    text-decoration: none;
    outline: none;
}

.en-shipping-origin-list .en-menu-options::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.en_edit_profile .en_shipping_profile_content .en-menu-options::after,
.en_shipping_to_table_container .en-menu-options::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.en-align-center.en-dbsc-menu a.en-menu-popup {
    font-size: 20px;
    color: #444;
    text-decoration: none;
}

.en_shipping_profile.en_edit_profile {
    padding: 15px;
    border: 2px solid lightgrey;
    border-radius: 6px;
    margin: 20px auto;
}

.en_shipping_profile.en_edit_profile .en_shipping_profile_content h2 {
    margin-left: 0;
    margin-top: 0;
}

.en_shipping_profile.en_edit_profile .en_shipping_profile_content {
    padding: 0;
    line-height: normal;
}

#en_dbsc_edit_profile {
    font-size: 20px;
    color: #444;
}

.en_profile_classes {
    margin-top: 5px;
}

.en_profile_classes p {
    margin: 0 0 15px 0;
    font-size: 12px;
}

.edit-rate-popup,
.zone_right {
    position: relative;
}

.edit-rate-popup {
    display: inline-block;
}

.edit-rate-popup.action-btn .en-menu-popup {
    margin: 0 !important;
}

.edit-rate-popup.action-btn .en-menu-options {
    margin-right: -40px;
}

.en_shipping_profile.en_edit_profile .en-align-center.en-dbsc-menu {
    margin-right: 40px;
}

#en_distance_base_shipping_quote_settings p.submit {
    display: none;
}

[class*="en-shipping-origin-list-item-"] {
    display: inline-block;
}

[class*="en_distance_base_shipping_quote_error-"] {
    margin-top: 20px;
}

[class*="en-shipping-origin-list-"] span a.en-menu-popup {
    float: right;
    text-decoration: none;
    outline: none;
    margin-right: 32px;
    font-size: 20px;
    color: #444;
}

[class*="en-shipping-origin-list-"] .en-menu-options::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.en-shipping-origin-list-item {
    display: block;
    width: 100%;
    position: relative;
}

/*Loader popup*/
.en_loader_overly_template {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 2ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999999;
    transition: all 0.2s ease-in-out
}

.en_loader_overly_template:target {
    visibility: visible;
    opacity: 0.4;
}

/*Loader css*/

.en-spinner-temp {
    color: official;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.en-spinner-temp div {
    transform-origin: 40px 40px;
    animation: en-spinner-temp 1.2s linear infinite;
}

.en-spinner-temp div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.en-spinner-temp div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.en-spinner-temp div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.en-spinner-temp div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.en-spinner-temp div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.en-spinner-temp div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.en-spinner-temp div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.en-spinner-temp div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.en-spinner-temp div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.en-spinner-temp div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.en-spinner-temp div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.en-spinner-temp div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.en-spinner-temp div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes en-spinner-temp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.en_distance_base_shipping_form p.submit, .en_distance_base_shipping_settings_form p.submit {
    float: right;
    width: 63%;
}

.en_distance_base_shipping_err {
    color: #ff0000;
    font-size: 13px;
    font-weight: normal !important;
    padding-left: 10px;
    display: inline-block;
    margin-top: 5px;
}

.en_distance_base_shipping_form p.submit .button-primary {
    margin: 5px;
}

.en-shipping-class-exist-error {
    margin: 10px 25px 0px 25px !important;
}

.en-shipping-region-exist-error {
    margin: 10px 40px 0px 15px !important;
}

.en-zone-section {
    margin: 15px 0;
}

.en-zone-section table tr th:nth-child(1),
.en-zone-section table tr th:nth-child(2),
.en-zone-section table tr th:nth-child(3),
.en-zone-section table tr th:nth-child(4),
.en-zone-section table tr th:nth-child(5),
.en-zone-section table tr th:nth-child(6),
.en-zone-section table tr th:nth-child(7),
.en-zone-section table tr th:nth-child(8) {
    width: 300px;
}

.full-width {
    float: left;
    width: 100%;
}

.en-zone-header .zone_left {
    float: left;
}

.en-zone-header .zone_right {
    float: right;
}

.en-zone-header {
    border-bottom: 1px solid #ddd;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}

.append_with_current_status {
    font-style: italic;
}

.en-dbsc-default-address-type-rb{
    padding-top: 3px;
}
/* fdo va */
.en-coupon-code-div {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

.en-coupon-notice {
    border-left-color: #72aee6;
}

.en-coupon-success {
    border-left-color: #00a32a;
}

.en-coupon-error {
    border-left-color: #d63638;
}

.en-coupon-btn-div {
    text-align: center;
    margin-bottom: 12px;
}

.en-error-message {
    color: #dc3232 !important;
}

/* fdo va */
.en-coupon-code-div {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

.en-coupon-notice {
    border-left-color: #72aee6;
}

.en-coupon-success {
    border-left-color: #00a32a;
}

.en-coupon-error {
    border-left-color: #d63638;
}

.en-coupon-btn-div {
    text-align: center;
    margin-bottom: 12px;
}

.en-error-message {
    color: #dc3232 !important;
}
/*fdo va*/
/* Create two equal columns that floats next to each other */
.half-column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

/* Clear floats after the columns */
.parent-column:after {
    content: "";
    display: table;
    clear: both;
}
.dn {
    display:none;
}
.dnblock {
    float: none;
    text-align: center;
    width: auto;
    padding-top: 0px;
}
.user_guide_fdo {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
}
.user_guide_fdo p.submit {
    display: none;
}
#freightdesk_online_id {
    width: 98%;
    padding: 3px;
}
.en_dbsc_rate_section_heading{
    margin-top: 2em;
    margin-bottom: 0.2em;
}

tr.en_settings_distance_based_multi_ship_profile_include_tr td,
tr.en_settings_distance_based_multi_ship_profile_include_tr th {
    padding-top: 0px;
    padding-bottom: 1px;
}

tr.en_settings_distance_based_multi_ship_profile_exclude_tr td,
tr.en_settings_distance_based_multi_ship_profile_exclude_tr th {
    padding-top: 0px;
}

tr.en_settings_how_to_handle_multi_shipment_distance_base_shipping_tr td,
tr.en_settings_how_to_handle_multi_shipment_distance_base_shipping_tr th {
    padding-bottom: 0px;
}

.button-primary, .is-primary {
  justify-content: center;
  text-transform: capitalize;
}

.en_other_settings_distance_base_shipping p.submit {
  display: flex !important;
  justify-content: end !important;
}

#en-woo-review-plugin {
    display: flex;
    justify-content: end;
}

#en-woo-review-plugin a {
    width: initial !important;
    height: auto !important;
    text-transform: initial !important;
    font-size: unset !important;
}